{% extends "base.html" %}
{% block title %}Process GIFT Card{% endblock %}
{% block page_title %}Process GIFT Card{% endblock %}
{% block content %}
	<form method="post" action="/transactionProcessGiftCardRequest/">
		<table cellpadding="5" cellspacing="5">
			<tr>	
				<td colspan="2">
					&nbsp;
				</td>						
			</tr>
			<tr>
				<td style="width: 50%;">
					Server Mode
				</td>
				<td>
					<select id="serverMode" name="serverMode" class="combo_width">
						<option value="UAT">UAT</option>
						<option value="PRODUCTION">PRODUCTION</option>							
					</select>
				</td>
			</tr>				
			<tr>
				<td style="width: 50%;">
					Transaction Type
				</td>
				<td>
					<select id="transType" name="transType" class="combo_width">
						<option value="Redeem">Redeem</option>							
						<option value="Reload">Reload</option>
						<option value="Refund">Refund</option>
						<option value="Activate">Activate</option>
						<option value="Deactivate">Deactivate</option>
						<option value="Inquire">Inquire</option>
						<option value="Void">Void</option>
						<option value="Force">Force</option>
					</select>
				</td>
			</tr>
			<tr>	
				<td>
					Card Num
				</td>
				<td>
					<input type="text" id="cardNum" name="cardNum"/>
				</td>			
			</tr>
			
			<tr>	
				<td>
					Exp Date
				</td>
				<td>
					<input type="text" id="expDate" name="expDate"/>
				</td>			
			</tr>
			
			<tr>	
				<td>
					Mag Data
				</td>
				<td>
					<input type="text" id="magData" name="magData"/>
				</td>			
			</tr>
			
			<tr>	
				<td>
					Amount
				</td>
				<td>
					<input type="text" id="amount" name="amount" />
				</td>			
			</tr>
			
			<tr>	
				<td>
					Inv Number
				</td>
				<td>
					<input type="text" id="invNum" name="invNum"/>
				</td>			
			</tr>
			
			<tr>	
				<td>
					PNRef
				</td>
				<td>
					<input type="text" id="pnref" name="pnref"/>
				</td>			
			</tr>
			
			<tr>	
				<td>
					Ext Data
				</td>
				<td>
					<input type="text" id="extData" name="extData"/>
				</td>			
			</tr>				
			
			<tr>	
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>	
				<td colspan="2">
					<input type="submit" value="OK" class="submit"/>					
				</td>						
			</tr>
		</table>
	</form>
	{% if resMsg %}
		<b><span style="font-size: 16px;color: red;" >{{resMsg}}</span></b>
	{% endif %}
		
{% endblock %}